
@import  'src/styles' ;

//main contents
.main-content {
  padding: $header-height ;
  height: 100%; 
  overflow: auto; 
  

  
}

.main-content.visible {
  padding-top: $side-menu-height-mobile ;
}


//Tablet 
@media screen and (min-width: $tablet-size) {

  .main-content {
    margin-left: $side-menu-width-tablet;
  }

  .main-content.visible{
    padding-top: $header-height ;
  }

}


//desktop
@media screen and (min-width: $desktop-size) {

  .main-content {
    margin-left: $side-menu-width-desktop;
  }

}











