
 <div id="wrapper" [ngClass]="{'toggled': hasSidebar}">


    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Start Bootstrap</a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown-menu" data-parent="sidebar-nav">Shortcuts <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('pages')">
                    <span><i class="fa fa-plus"></i>Menu</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'pages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)"><span>1</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><span>2</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><span>3</span></a>
                        </li>
                    </ul>
                </li>
            </div>


            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>




    <div id="page-content-wrapper">

        <i class="fa fa-bars fa-lg" aria-hidden="true" (click)='hasSidebar = !hasSidebar'></i>

        <p>
            dashboard works!
        </p>

        <router-outlet></router-outlet>

    </div>



</div>






<!-- <div class="wrapper">

  <app-topnav></app-topnav>  
  <app-sidebar></app-sidebar> 
  
  
  <div class="btn btn-primary">well</div>
  <i class="fa fa-bars fa-lg" aria-hidden="true"></i>

  
</div> -->