/* You can add global styles to this file, and also import other style files */


//theme
$theme-color: black; 

//header 
$header-height: 3.5rem;

//side menu
$side-menu-width-tablet: 5rem; 
$side-menu-width-desktop: 12rem; 
$side-menu-height-mobile: 50vh; 

//screen size
$tablet-size: 600px; 
$desktop-size : 1000px; 



