<div class="row mt-2">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
    <div class="card mb-3 border border-warning" >
      <div class="card-header main-header">
        Today
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center main-card-body" >
          <div class="ml-1" >
            <i class="fa fa-clock-o fa-5x"></i>
          </div>
          <div class="mr-1" >
            <div class="d-flex flex-column justify-content-center">
              <div class="main-today">Fri.</div>
              <div class="main-time">{{now| date:"H:mm:ss"}}</div>
              <div class="main-date">10/10/2017</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
    <div class="card mb-3 border border-warning" >
      <div class="card-header main-header">Unpaid
      </div>
      <div class="card-body">
        
        <div class="d-flex justify-content-between align-items-center main-card-body">
          <div class="ml-1" >
            <i class="fa fa-folder-open-o fa-5x"></i>
          </div>
          <div class="mr-1" >
            <div class="main-unpaid">13/25</div> 
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
    <div class="card mb-3 border border-warning" >
      <div class="card-header main-header" >Payment
      </div>
      <div class="card-body" >
          <div class="d-flex justify-content-between align-items-center main-card-body" >
              <div class="ml-1" >
                <i class="fa fa-usd fa-5x"></i>
              </div>
              <div class="ml-1 d-flex flex-column align-items-start" >
                <div>Last:</div>
                <div>&nbsp;</div>
                <div>Current:</div>
                <div>&nbsp;</div>
              </div>
              <div class="mr-1"  >
                <div class="d-flex flex-column align-items-end">
                  <div>&nbsp;</div>
                  <div class="main-last-payment">$5,000.88</div>
                  <div>&nbsp;</div>
                  <div class="main-current-payment">$8,888.88</div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card mb-3 border border-warning" >
        <div class="card-header main-header" >Grand Total <span class="main-since">since 2009</span>
        </div>
        <div class="card-body" >
            <div class="d-flex justify-content-center align-items-center main-card-body" >
                <div class="mr-1" >
                  <div class="main-grand-total">$555,333,99</div>
                </div>
              </div>
        </div>
      </div>
    </div>

    

</div>
